{
  "presets": [
    "react",
    ["env", {"modules": false} ]
  ],
  "env": {
    "test": {
      "presets": ["react", "env"]
    }
  },
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread"
  ]
}
